.foto-perfil {
    width: 250px;
    height: 250px;
    max-width: 100%;
    border-radius: 50%;
    padding: 10px;
    }

nav {
    font-family:'Righteous', cursive;
}

p {
    font-family: sans-serif;
    color: #fff;
}
 
section {
    background: linear-gradient(90deg, rgba(52,6,83,1) 0%, rgba(112,14,100,0) 50%, rgba(80,9,68,1) 100%);